In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime, timedelta
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
pd.options.display.float_format='{:.2f}'.format
plt.rcParams['figure.figsize'] = [12,12]
sns.set(style='darkgrid')
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from matplotlib import pyplot as plt
plt.style.use('ggplot')

In [2]:
df = pd.read_csv("/content/drive/MyDrive/Save Variables/New_DF.csv")

In [3]:
df

,Unnamed: 0,price_check_time,passenger,origin,destination,price,subsidy,distance,expected_duration,req_time,...,DOW_PRICE_CHECK,req_hour,Request_BINS,Hour of price check,status of request from user,status of drive from driver,Dayname of Request,Dayname of pricecheck,Monthname of Request,Monthname of pricecheck
0,656,2021-01-03 23:53:40,0,0,0,55000,10000,4155.00,8.00,2021-01-06 16:09:01,...,Sunday,16.00,Daytime,23,1,1.00,Wednesday,Sunday,January,January
1,0,2021-01-04 00:00:22,0,0,0,70000,0,4174.00,8.00,NaN,...,Monday,NaN,NaN,0,0,NaN,NaN,Monday,NaN,January
2,1422,2021-01-05 01:44:42,0,1,0,50000,0,1857.00,3.00,NaN,...,Tuesday,NaN,NaN,1,0,NaN,NaN,Tuesday,NaN,January
3,3241,2021-01-06 02:02:48,0,1,0,50000,0,713.00,2.00,2021-01-04 21:29:44,...,Wednesday,21.00,night,2,1,1.00,Monday,Wednesday,January,January
4,1423,2021-01-06 02:12:30,0,1,0,50000,0,713.00,2.00,NaN,...,Wednesday,NaN,NaN,2,0,NaN,NaN,Wednesday,NaN,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26763,17835,2021-01-07 06:54:43,999,0,2,85000,0,8088.00,9.00,NaN,...,Thursday,NaN,NaN,6,0,NaN,NaN,Thursday,NaN,January
26764,20368,2021-01-07 23:02:53,999,2,2,115000,0,9333.00,12.00,2021-01-02 19:51:54,...,Thursday,19.00,Evening Crowd,23,1,1.00,Saturday,Thursday,January,January
26765,20366,2021-01-07 23:03:59,999,2,2,115000,0,9304.00,12.00,NaN,...,Thursday,NaN,NaN,23,0,NaN,NaN,Thursday,NaN,January
26766,20907,2021-01-07 23:05:47,999,2,2,120000,0,9451.00,12.00,2021-01-02 20:08:18,...,Thursday,20.00,night,23,1,1.00,Saturday,Thursday,January,January
26767,21237,2021-01-07 23:06:54,999,2,2,120000,0,9492.00,12.00,2021-01-02 20:14:27,...,Thursday,20.00,night,23,1,1.00,Saturday,Thursday,January,January

Warning: Total number of columns (23) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (26768) exceeds max_rows (20000). Limiting to first (20000) rows.

In [4]:
print(df.columns)

Index(['Unnamed: 0', 'price_check_time', 'passenger', 'origin', 'destination',
       'price', 'subsidy', 'distance', 'expected_duration', 'req_time',
       'driver', 'status', 'FinalPrice', 'DOW_PRICE_CHECK', 'req_hour',
       'Request_BINS', 'Hour of price check', 'status of request from user',
       'status of drive from driver', 'Dayname of Request',
       'Dayname of pricecheck', 'Monthname of Request',
       'Monthname of pricecheck'],
      dtype='object')

In [5]:
predictiondf = df[['passenger', 'origin', 'destination','price', 'subsidy', 'distance', 'expected_duration' , 'driver' , 'DOW_PRICE_CHECK' , 'Hour of price check' , 'status of request from user' , 'Unnamed: 0']]

In [8]:
predictiondf.dtypes

passenger                        int64
origin                           int64
destination                      int64
price                            int64
subsidy                          int64
distance                       float64
expected_duration              float64
driver                         float64
DOW_PRICE_CHECK                 object
Hour of price check              int64
status of request from user      int64
Unnamed: 0                       int64
dtype: object

In [ ]:
sns.pairplot(predictiondf)

In [18]:
predictiondf = pd.get_dummies(predictiondf, columns=['DOW_PRICE_CHECK'])

In [ ]:
predictiondf

In [29]:
predictiondf.isna().sum()

passenger                          0
origin                             0
destination                        0
price                              0
subsidy                            0
distance                           0
expected_duration                  0
driver                         12365
Hour of price check                0
status of request from user        0
Unnamed: 0                         0
DOW_PRICE_CHECK_Friday             0
DOW_PRICE_CHECK_Monday             0
DOW_PRICE_CHECK_Saturday           0
DOW_PRICE_CHECK_Sunday             0
DOW_PRICE_CHECK_Thursday           0
DOW_PRICE_CHECK_Tuesday            0
DOW_PRICE_CHECK_Wednesday          0
dtype: int64

In [27]:
meandist = predictiondf['distance'].mean()
predictiondf['expected_duration'].mean()
min_ex = 6

In [28]:
predictiondf['distance'] = predictiondf['distance'].fillna(value=meandist)
predictiondf['expected_duration'] = predictiondf['expected_duration'].fillna(value=6)

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, roc_curve, precision_recall_curve, confusion_matrix , accuracy_score

In [30]:
X = predictiondf.drop(['status of request from user' , 'Unnamed: 0' , 'driver'] , axis=1)
y = predictiondf['status of request from user']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((21414, 15), (5354, 15), (21414,), (5354,))

In [31]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_train)
y_pred

array([1, 0, 1, ..., 1, 1, 1])

In [34]:
accuracy_score(y_train, y_pred)

0.6046511627906976

In [35]:
confusion_matrix(y_train, y_pred)

array([[ 1542,  6491],
       [ 1975, 11406]])

In [36]:
class LogisticRegressionWithThreshold(LogisticRegression):
    def predict(self, X, threshold=None):
        if threshold == None: # If no threshold passed in, simply call the base class predict, effectively threshold=0.5
            return LogisticRegression.predict(self, X)
        else:
            y_scores = LogisticRegression.predict_proba(self, X)[:, 1]
            y_pred_with_threshold = (y_scores >= threshold).astype(int)

            return y_pred_with_threshold
    
    def threshold_from_optimal_tpr_minus_fpr(self, X, y):
        y_scores = LogisticRegression.predict_proba(self, X)[:, 1]
        fpr, tpr, thresholds = roc_curve(y, y_scores) 

        optimal_idx = np.argmax(tpr - fpr)

        return thresholds[optimal_idx], tpr[optimal_idx] - fpr[optimal_idx]

In [37]:
lrt = LogisticRegressionWithThreshold()
lrt.fit(X_train, y_train)

threshold, optimal_tpr_minus_fpr = lrt.threshold_from_optimal_tpr_minus_fpr(X_train, y_train)
y_pred = lrt.predict(X_train, threshold)

threshold, optimal_tpr_minus_fpr

(0.7655571595768641, 0.22343600713717598)

In [44]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict_proba(X_train)

In [ ]:
list(y_pred)

In [46]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict_proba(X_test)

In [47]:
y_pred

array([[0.30472253, 0.69527747],
       [0.48799716, 0.51200284],
       [0.53127728, 0.46872272],
       ...,
       [0.26626375, 0.73373625],
       [0.42923089, 0.57076911],
       [0.37957392, 0.62042608]])

In [51]:
predicted = pd.DataFrame(y_pred, columns=['lower fence', 'higher fence'])

In [54]:
X_test

,passenger,origin,destination,price,subsidy,distance,expected_duration,Hour of price check,DOW_PRICE_CHECK_Friday,DOW_PRICE_CHECK_Monday,DOW_PRICE_CHECK_Saturday,DOW_PRICE_CHECK_Sunday,DOW_PRICE_CHECK_Thursday,DOW_PRICE_CHECK_Tuesday,DOW_PRICE_CHECK_Wednesday
12320,3017,1,0,40000,5000,628.00,1.00,13,0,1,0,0,0,0,0
24489,716,1,0,50000,10000,2112.00,6.00,18,0,1,0,0,0,0,0
25921,90,3,4,45000,0,1885.00,4.00,16,0,0,0,0,0,1,0
17497,4204,1,0,60000,10000,2301.00,5.00,21,0,0,0,0,1,0,0
7573,2137,1,1,55000,10000,2351.00,6.00,17,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10469,265,2,1,35000,5000,1859.00,3.00,21,0,0,0,1,0,0,0
21078,5445,3,3,45000,10000,1.00,1.00,9,0,0,0,1,0,0,0
15192,3628,1,0,40000,5000,1326.00,2.00,12,1,0,0,0,0,0,0
2733,1394,2,1,35000,5000,1689.00,3.00,15,0,0,0,0,0,0,1
8410,2282,2,1,75000,10000,5285.00,9.00,19,0,0,0,0,1,0,0

In [ ]:
list(X_test.index.values)

In [68]:
predicted['index'] = list(X_test.index.values)

In [73]:
pd.concat([X_test['passenger'], predicted],axis = 1)

       passenger  lower fence  higher fence
12320       3017         0.30          0.70
24489        716         0.49          0.51
25921         90         0.53          0.47
17497       4204         0.25          0.75
7573        2137         0.38          0.62
...          ...          ...           ...
10469        265         0.53          0.47
21078       5445         0.17          0.83
15192       3628         0.27          0.73
2733        1394         0.43          0.57
8410        2282         0.38          0.62

[5354 rows x 3 columns]

In [75]:
predicted

       lower fence  higher fence
index
12320         0.30          0.70
24489         0.49          0.51
25921         0.53          0.47
17497         0.25          0.75
7573          0.38          0.62
...            ...           ...
10469         0.53          0.47
21078         0.17          0.83
15192         0.27          0.73
2733          0.43          0.57
8410          0.38          0.62

[5354 rows x 2 columns]

In [71]:
predicted = predicted.set_index('index')

In [74]:
passenger = pd.concat([X_test['passenger'], predicted],axis = 1)

In [94]:
passenger

       passenger  lower fence  higher fence
12320       3017         0.30          0.70
24489        716         0.49          0.51
25921         90         0.53          0.47
17497       4204         0.25          0.75
7573        2137         0.38          0.62
...          ...          ...           ...
10469        265         0.53          0.47
21078       5445         0.17          0.83
15192       3628         0.27          0.73
2733        1394         0.43          0.57
8410        2282         0.38          0.62

[5354 rows x 3 columns]

#Drivers

In [83]:
predictiondrvf1 = df.loc[pd.isnull(df['driver']) == False]

In [84]:
predictiondrvf = predictiondrvf1[['passenger', 'origin', 'destination','price', 'subsidy', 'distance', 'expected_duration' , 'driver' , 'DOW_PRICE_CHECK' , 'Hour of price check' , 'status of drive from driver' , 'Unnamed: 0']]

In [85]:
predictiondrvf.dtypes

passenger                        int64
origin                           int64
destination                      int64
price                            int64
subsidy                          int64
distance                       float64
expected_duration              float64
driver                         float64
DOW_PRICE_CHECK                 object
Hour of price check              int64
status of drive from driver    float64
Unnamed: 0                       int64
dtype: object

In [87]:
predictiondrvf = pd.get_dummies(predictiondrvf, columns=['DOW_PRICE_CHECK'])

In [89]:
predictiondrvf.isna().sum()

passenger                        0
origin                           0
destination                      0
price                            0
subsidy                          0
distance                       142
expected_duration              144
driver                           0
Hour of price check              0
status of drive from driver      0
Unnamed: 0                       0
DOW_PRICE_CHECK_Friday           0
DOW_PRICE_CHECK_Monday           0
DOW_PRICE_CHECK_Saturday         0
DOW_PRICE_CHECK_Sunday           0
DOW_PRICE_CHECK_Thursday         0
DOW_PRICE_CHECK_Tuesday          0
DOW_PRICE_CHECK_Wednesday        0
dtype: int64

In [91]:
meandist = predictiondrvf['distance'].mean()
predictiondrvf['expected_duration'].mean()
min_ex = 6

In [92]:
predictiondrvf['distance'] = predictiondrvf['distance'].fillna(value=meandist)
predictiondrvf['expected_duration'] = predictiondrvf['expected_duration'].fillna(value=6)

In [93]:
X = predictiondrvf.drop(['status of drive from driver' , 'Unnamed: 0' , 'passenger'] , axis=1)
y = predictiondrvf['status of drive from driver']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((11522, 15), (2881, 15), (11522,), (2881,))

In [95]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_train)
y_pred

array([1., 1., 1., ..., 1., 1., 1.])

In [96]:
accuracy_score(y_train, y_pred)

0.9499218885610137

In [97]:
lrt = LogisticRegressionWithThreshold()
lrt.fit(X_train, y_train)

threshold, optimal_tpr_minus_fpr = lrt.threshold_from_optimal_tpr_minus_fpr(X_train, y_train)
y_pred = lrt.predict(X_train, threshold)

threshold, optimal_tpr_minus_fpr

(0.9591724383292793, 0.015768301092669912)

In [98]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict_proba(X_test)

In [99]:
predicteddrv = pd.DataFrame(y_pred, columns=['lower fence', 'higher fence'])

In [100]:
predicteddrv

      lower fence  higher fence
0            0.09          0.91
1            0.09          0.91
2            0.05          0.95
3            0.04          0.96
4            0.04          0.96
...           ...           ...
2876         0.05          0.95
2877         0.09          0.91
2878         0.08          0.92
2879         0.10          0.90
2880         0.05          0.95

[2881 rows x 2 columns]

In [ ]:
list(X_test.index.values)

In [102]:
predicteddrv['index'] = list(X_test.index.values)

In [103]:
predicteddrv = predicteddrv.set_index('index')

In [106]:
driver = pd.concat([X_test['driver'], predicteddrv],axis = 1)

In [107]:
driver

       driver  lower fence  higher fence
24748  316.00         0.09          0.91
17468 1673.00         0.09          0.91
13190 1421.00         0.05          0.95
21924  554.00         0.04          0.96
17709  800.00         0.04          0.96
...       ...          ...           ...
185    679.00         0.05          0.95
23574 1370.00         0.09          0.91
16999  584.00         0.08          0.92
18623 1065.00         0.10          0.90
20636   54.00         0.05          0.95

[2881 rows x 3 columns]

In [109]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

In [111]:
common = intersection(list(driver.index.values), list(passenger.index.values))

In [116]:
a = driver[driver.index.isin(common) == True]

In [117]:
b = passenger[passenger.index.isin(common) == True]

In [119]:
finaldf = pd.concat([a,b],axis=1)

In [120]:
finaldf

       driver  lower fence  higher fence  passenger  lower fence  higher fence
91     239.00         0.07          0.93       1009         0.47          0.53
147    506.00         0.07          0.93       1018         0.44          0.56
230   1227.00         0.06          0.94       1029         0.47          0.53
257    158.00         0.02          0.98       1033         0.47          0.53
274     30.00         0.03          0.97       1035         0.47          0.53
...       ...          ...           ...        ...          ...           ...
26543   67.00         0.04          0.96         97         0.53          0.47
26548  170.00         0.05          0.95        970         0.46          0.54
26562  748.00         0.02          0.98        971         0.47          0.53
26614 1030.00         0.08          0.92        978         0.45          0.55
26671  620.00         0.10          0.90        986         0.46          0.54

[574 rows x 6 columns]

In [123]:
finaldf.columns

Index(['driver', 'lower fence', 'higher fence', 'passenger', 'lower fence',
       'higher fence'],
      dtype='object')

In [124]:
finaldf.columns = ['driver', 'lower fence drv', 'higher fence drv', 'passenger', 'lower fence psg','higher fence psg']

In [126]:
finaldf.columns

Index(['driver', 'lower fence drv', 'higher fence drv', 'passenger',
       'lower fence psg', 'higher fence psg'],
      dtype='object')

In [127]:
worstcase = []
for i,j in zip(finaldf['lower fence drv'],finaldf['lower fence psg']):
  z = i*j
  worstcase.append(z)

In [129]:
bestcase = []
for i,j in zip(finaldf['higher fence drv'],finaldf['higher fence psg']):
  z = i*j
  bestcase.append(z)

In [130]:
finaldf['worstcase'] = worstcase
finaldf['bestcase'] = bestcase

In [131]:
finaldf

,driver,lower fence drv,higher fence drv,passenger,lower fence psg,higher fence psg,worstcase,bestcase
91,239.00,0.07,0.93,1009,0.47,0.53,0.03,0.49
147,506.00,0.07,0.93,1018,0.44,0.56,0.03,0.52
230,1227.00,0.06,0.94,1029,0.47,0.53,0.03,0.50
257,158.00,0.02,0.98,1033,0.47,0.53,0.01,0.51
274,30.00,0.03,0.97,1035,0.47,0.53,0.01,0.51
...,...,...,...,...,...,...,...,...
26543,67.00,0.04,0.96,97,0.53,0.47,0.02,0.45
26548,170.00,0.05,0.95,970,0.46,0.54,0.02,0.51
26562,748.00,0.02,0.98,971,0.47,0.53,0.01,0.52
26614,1030.00,0.08,0.92,978,0.45,0.55,0.04,0.50
26671,620.00,0.10,0.90,986,0.46,0.54,0.05,0.49

In [135]:
finaldf.sort_values(by =['bestcase'],ascending=False)

,driver,lower fence drv,higher fence drv,passenger,lower fence psg,higher fence psg,worstcase,bestcase
24087,580.00,0.02,0.98,6723,0.13,0.87,0.00,0.86
23675,769.00,0.03,0.97,6534,0.13,0.87,0.00,0.84
22543,100.00,0.01,0.99,6064,0.15,0.85,0.00,0.84
24041,618.00,0.03,0.97,6706,0.13,0.87,0.00,0.84
22655,427.00,0.01,0.99,6115,0.15,0.85,0.00,0.84
...,...,...,...,...,...,...,...,...
7071,611.00,0.16,0.84,206,0.49,0.51,0.08,0.42
10191,37.00,0.07,0.93,26,0.55,0.45,0.04,0.42
6077,69.00,0.12,0.88,189,0.52,0.48,0.06,0.42
20434,252.00,0.08,0.92,52,0.54,0.46,0.05,0.42
3282,175.00,0.12,0.88,147,0.52,0.48,0.06,0.42

In [137]:
finalpred = []
for i,j in zip(finaldf['worstcase'],finaldf['bestcase']):
  z = (i+j)/2
  finalpred.append(z)

In [138]:
finaldf['finalpred'] = finalpred

In [139]:
finaldf.sort_values(by =['finalpred'],ascending=False)

,driver,lower fence drv,higher fence drv,passenger,lower fence psg,higher fence psg,worstcase,bestcase,finalpred
24087,580.00,0.02,0.98,6723,0.13,0.87,0.00,0.86,0.43
23675,769.00,0.03,0.97,6534,0.13,0.87,0.00,0.84,0.42
24041,618.00,0.03,0.97,6706,0.13,0.87,0.00,0.84,0.42
22543,100.00,0.01,0.99,6064,0.15,0.85,0.00,0.84,0.42
22655,427.00,0.01,0.99,6115,0.15,0.85,0.00,0.84,0.42
...,...,...,...,...,...,...,...,...,...
1274,419.00,0.03,0.97,118,0.54,0.46,0.02,0.44,0.23
10191,37.00,0.07,0.93,26,0.55,0.45,0.04,0.42,0.23
7870,39.00,0.05,0.95,219,0.55,0.45,0.03,0.43,0.23
15049,167.00,0.03,0.97,36,0.55,0.45,0.02,0.43,0.23
7922,109.00,0.00,1.00,22,0.55,0.45,0.00,0.45,0.22